langchain
langchain-community
langchain-groq
langchain-chroma
langchain-core
chromadb
sentence-transformers
fastapi
uvicorn
python-dotenv
pandas
openpyxl
rank-bm25
streamlit
pymupdf
yfinance
aiofiles
slowapi
langfuse